<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Generator</title>
</head>
<body>
    <h1> QR CODE GENERATOR</h1>
    <div>
        <form method="post">
            <input type="number" name="amount"/>
            <button type="submit" name="gen">Generate QR</button>
            <button type="submit" name="rmv">Remove QR</button>
        </form>
        <img src="../static/UPIgen.png">
    </div>
</body>
</html>